In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from datetime import datetime, date

In [2]:
#from ahnbu_portal import settings
from django.utils import timezone

In [3]:
marketing = requests.get(
    "https://dsschool.co.kr/marketing/suggestions").text
data_analytics = requests.get("https://dsschool.co.kr/suggestions").text

soup_mkt = BeautifulSoup(marketing, 'lxml')
soup_data = BeautifulSoup(data_analytics, 'lxml')

# 리스트 만들기
name = []
summary = []
price = []
discount = []
discount_price = []
category = []
link = []
update_date = []

for i in range(2):
    name.append(soup_mkt.select('h3.course-name')[i].text)
    summary.append(soup_mkt.select('h3.course-summary')[i].text)
    price_origin = soup_mkt.select('h3.course-price')[i*2].text[0:-2]
    price_origin = price_origin.replace(',', '')
    price_origin = int(price_origin)
    price.append(price_origin)
    discount_origin = soup_mkt.find_all(
        'a', {"class": "btn-course btn-purchase"})[i].text[0:2]
    discount_origin = int(discount_origin)
    discount.append(discount_origin)
    discount_price.append(int(price_origin*(100-discount_origin)/1000000))
    category.append("마케팅")
    link.append("https://dsschool.co.kr/marketing/suggestions")
    update_date.append(datetime.now())

    #    update_date.append(timezone.localtime())

# 리스트 만들기
# price 문자열 내 ','제거, 정수화한 후 만원 단위로 변경
price = list(map(int, price))
price = np.array(price)
b = [10000]*2
b = np.array(b)
price = price/b
price = list(map(int, price))

for i in range(6):
    name.append(soup_data.select('h3.course-name')[i].text)
    summary.append(soup_data.select('h3.course-summary')[i].text)
    price_origin = soup_data.select('h3.course-price')[i].text[0:-2]
    price_origin = price_origin.replace(',', '')
    price_origin = int(price_origin)
    price.append(price_origin)
    discount_origin = soup_data.find_all(
        'a', {"class": "btn-course btn-purchase"})[i].text[0:2]
    discount_origin = int(discount_origin)
    discount.append(discount_origin)
    discount_price.append(int(price_origin*(100-discount_origin)/100))
    category.append("데이터분석")
    link.append("https://dsschool.co.kr/suggestions")
    update_date.append(datetime.now())

# 정수로 변환
price = list(map(int, price))
discount = list(map(int, discount))

all_list = (category, name, price, discount,
            discount_price, summary, link, update_date)
col_names = ["category", "name", "price", "discount",
             "discount_price", "summary", "link", "update_date"]

In [4]:
def list_to_table(all_list, col_names):
    import pandas as pd
    import numpy as np

    all_list = np.transpose(all_list)
    df = pd.DataFrame(data = np.array(all_list))
    df.columns = col_names
#    df.sort_values(by=args, ascending=[False], inplace=True)

    return df


# 데이터 분석시 기본 모듈 로딩

def data_tool():
    # 분석 모듈
    import pandas as pd
    import numpy as np

    # cross validation 등에서 에러 메시지 나오지 않도록 하는 것
    import warnings
    warnings.filterwarnings('ignore')

    # 시각화 모듈
    import seaborn as sns
    import matplotlib as mpl
    import matplotlib.pyplot as plt
#    %matplotlib inline

    # 오늘날짜 반환
    import datetime
    today = datetime.datetime.today().strftime("%y%m%d")

    return today

In [5]:
df = list_to_table(all_list, col_names)
df

,category,name,price,discount,discount_price,summary,link,update_date
0,마케팅,입문 과정,105,50,52,"4주 과정, 매주 5시간",https://dsschool.co.kr/marketing/suggestions,2018-11-23 20:19:12.451548
1,마케팅,페북 광고 심화반,99,40,59,"4주 과정, 매주 4시간",https://dsschool.co.kr/marketing/suggestions,2018-11-23 20:19:12.455835
2,데이터분석,입문 속성 과정,99,50,49,"2일 과정, 18시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.468809
3,데이터분석,입문 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.481494
4,데이터분석,입문 온라인 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.495491
5,데이터분석,실전 데이터분석 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.509465
6,데이터분석,실전 머신러닝 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.523597
7,데이터분석,딥러닝 과정,149,30,104,"4주 과정, 매주 2회 * 3시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.537195

In [6]:
import sqlite3
con = sqlite3.connect("/Users/mac/Python/ahnbu_portal/db.sqlite3")

In [7]:
price_list=Price.objects.all()

In [8]:
df

,category,name,price,discount,discount_price,summary,link,update_date
0,마케팅,입문 과정,105,50,52,"4주 과정, 매주 5시간",https://dsschool.co.kr/marketing/suggestions,2018-11-23 20:19:12.451548
1,마케팅,페북 광고 심화반,99,40,59,"4주 과정, 매주 4시간",https://dsschool.co.kr/marketing/suggestions,2018-11-23 20:19:12.455835
2,데이터분석,입문 속성 과정,99,50,49,"2일 과정, 18시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.468809
3,데이터분석,입문 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.481494
4,데이터분석,입문 온라인 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.495491
5,데이터분석,실전 데이터분석 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.509465
6,데이터분석,실전 머신러닝 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.523597
7,데이터분석,딥러닝 과정,149,30,104,"4주 과정, 매주 2회 * 3시간",https://dsschool.co.kr/suggestions,2018-11-23 20:19:12.537195

In [9]:
df.to_sql('dsschool_price', con, if_exists='append', index=False)

In [10]:
Price.objects.all().count()

(0.000) SELECT COUNT(*) AS "__count" FROM "dsschool_price"; args=()

9

In [11]:
first=Price.objects.first()

(0.001) SELECT "dsschool_price"."id", "dsschool_price"."name", "dsschool_price"."summary", "dsschool_price"."price", "dsschool_price"."discount", "dsschool_price"."discount_price", "dsschool_price"."category", "dsschool_price"."link", "dsschool_price"."update_date" FROM "dsschool_price" ORDER BY "dsschool_price"."update_date" DESC, "dsschool_price"."id" DESC  LIMIT 1; args=()

In [12]:
print(first)

딥러닝 과정, 30