In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from datetime import datetime, date

In [2]:
#from ahnbu_portal import settings
from django.utils import timezone

In [3]:
marketing = requests.get(
    "https://dsschool.co.kr/marketing/suggestions").text
data_analytics = requests.get("https://dsschool.co.kr/suggestions").text

soup_mkt = BeautifulSoup(marketing, 'lxml')
soup_data = BeautifulSoup(data_analytics, 'lxml')

# 리스트 만들기
name = []
summary = []
price = []
discount = []
discount_price = []
category = []
link = []
update_date = []

for i in range(2):
    name.append(soup_mkt.select('h3.course-name')[i].text)
    summary.append(soup_mkt.select('h3.course-summary')[i].text)
    price_origin = soup_mkt.select('h3.course-price')[i*2].text[0:-2]
    price_origin = price_origin.replace(',', '')
    price_origin = int(price_origin)
    price.append(price_origin)
    discount_origin = soup_mkt.find_all(
        'a', {"class": "btn-course btn-purchase"})[i].text[0:2]
    discount_origin = int(discount_origin)
    discount.append(discount_origin)
    discount_price.append(int(price_origin*(100-discount_origin)/1000000))
    category.append("마케팅")
    link.append("https://dsschool.co.kr/marketing/suggestions")
    update_date.append(datetime.now())

    #    update_date.append(timezone.localtime())

# 리스트 만들기
# price 문자열 내 ','제거, 정수화한 후 만원 단위로 변경
price = list(map(int, price))
price = np.array(price)
b = [10000]*2
b = np.array(b)
price = price/b
price = list(map(int, price))

for i in range(6):
    name.append(soup_data.select('h3.course-name')[i].text)
    summary.append(soup_data.select('h3.course-summary')[i].text)
    price_origin = soup_data.select('h3.course-price')[i].text[0:-2]
    price_origin = price_origin.replace(',', '')
    price_origin = int(price_origin)
    price.append(price_origin)
    discount_origin = soup_data.find_all(
        'a', {"class": "btn-course btn-purchase"})[i].text[0:2]
    discount_origin = int(discount_origin)
    discount.append(discount_origin)
    discount_price.append(int(price_origin*(100-discount_origin)/100))
    category.append("데이터분석")
    link.append("https://dsschool.co.kr/suggestions")
    update_date.append(datetime.now())

# 정수로 변환
price = list(map(int, price))
discount = list(map(int, discount))

all_list = (category, name, price, discount,
            discount_price, summary, link, update_date)
col_names = ["category", "name", "price", "discount",
             "discount_price", "summary", "link", "update_date"]

In [5]:
from mytool import list_to_table

In [6]:
df = list_to_table(all_list, col_names)
df

,category,name,price,discount,discount_price,summary,link,update_date
0,마케팅,입문 과정,105,50,52,"4주 과정, 매주 5시간",https://dsschool.co.kr/marketing/suggestions,2018-11-24 13:53:57.705685
1,마케팅,페북 광고 심화반,99,40,59,"4주 과정, 매주 4시간",https://dsschool.co.kr/marketing/suggestions,2018-11-24 13:53:57.709889
2,데이터분석,입문 속성 과정,99,50,49,"2일 과정, 18시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.722686
3,데이터분석,입문 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.735036
4,데이터분석,입문 온라인 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.747393
5,데이터분석,실전 데이터분석 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.759758
6,데이터분석,실전 머신러닝 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.772036
7,데이터분석,딥러닝 과정,149,30,104,"4주 과정, 매주 2회 * 3시간",https://dsschool.co.kr/suggestions,2018-11-24 13:53:57.784258

In [30]:
def df_sql(df):
    import sqlite3
    con = sqlite3.connect("./db.sqlite3")
    # ../db.sqlite3이라고 하니까 계속 업데이트 안되었음 ㅠㅠ 점 하나 빼야 됨
    if Price.objects.all().count() == 0:  # 기존에 없으면, 바로 추가
        # 아래 dsschool_price에서 dsschool 부분에 앱 이름이 들어가야 함
        df.to_sql('dsschool_price', con, if_exists='append', index=False)
        result = {'message': "오늘은 이미 업데이트되었습니다."; 'msg2':'230'}
    else:  # 기존에 있으면, 오늘 꺼가 있으면 업데이트 안함
        price_date = Price.objects.first().update_date
        if price_date.date() < datetime.today().date():
            df.to_sql('dsschool_price', con, if_exists='append', index=False)
            result = {'message': "오늘은 이미 업데이트되었습니다."; 'msg2':'230'}
        else:
            result = {'message': "오늘은 이미 업데이트되었습니다."; 'msg2':'230'}
    return result

SyntaxError: invalid syntax (<ipython-input-30-1366d4750169>, line 8)

In [28]:
df_sql(df)

(0.000) SELECT COUNT(*) AS "__count" FROM "dsschool_price"; args=()
(0.000) SELECT "dsschool_price"."id", "dsschool_price"."name", "dsschool_price"."summary", "dsschool_price"."price", "dsschool_price"."discount", "dsschool_price"."discount_price", "dsschool_price"."category", "dsschool_price"."link", "dsschool_price"."update_date" FROM "dsschool_price" ORDER BY "dsschool_price"."update_date" DESC, "dsschool_price"."id" DESC  LIMIT 1; args=()

{'message': '오늘은 이미 업데이트되었습니다.', 'msg2': '230'}

In [29]:
message["msg2"]

KeyError: 'msg2'

In [11]:
message=df_sql(df)
message

(0.000) SELECT COUNT(*) AS "__count" FROM "dsschool_price"; args=()
(0.000) SELECT "dsschool_price"."id", "dsschool_price"."name", "dsschool_price"."summary", "dsschool_price"."price", "dsschool_price"."discount", "dsschool_price"."discount_price", "dsschool_price"."category", "dsschool_price"."link", "dsschool_price"."update_date" FROM "dsschool_price" ORDER BY "dsschool_price"."update_date" DESC, "dsschool_price"."id" DESC  LIMIT 1; args=()

{'message': '오늘은 이미 업데이트되었습니다.'}

,category,name,price,discount,discount_price,summary,link,update_date
0,마케팅,입문 과정,105,50,52,"4주 과정, 매주 5시간",https://dsschool.co.kr/marketing/suggestions,2018-11-24 12:22:17.072843
1,마케팅,페북 광고 심화반,99,40,59,"4주 과정, 매주 4시간",https://dsschool.co.kr/marketing/suggestions,2018-11-24 12:22:17.077398
2,데이터분석,입문 속성 과정,99,50,49,"2일 과정, 18시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.091442
3,데이터분석,입문 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.104829
4,데이터분석,입문 온라인 과정,99,50,49,"4주 과정, 매주 5시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.118332
5,데이터분석,실전 데이터분석 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.131622
6,데이터분석,실전 머신러닝 과정,99,40,59,"4주 과정, 매주 1회 * 4시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.144994
7,데이터분석,딥러닝 과정,149,30,104,"4주 과정, 매주 2회 * 3시간",https://dsschool.co.kr/suggestions,2018-11-24 12:22:17.158358

In [9]:
df.to_sql('dsschool_price', con, if_exists='append', index=False)

In [10]:
Price.objects.all().count()

(0.000) SELECT COUNT(*) AS "__count" FROM "dsschool_price"; args=()

9

In [11]:
first=Price.objects.first()

(0.001) SELECT "dsschool_price"."id", "dsschool_price"."name", "dsschool_price"."summary", "dsschool_price"."price", "dsschool_price"."discount", "dsschool_price"."discount_price", "dsschool_price"."category", "dsschool_price"."link", "dsschool_price"."update_date" FROM "dsschool_price" ORDER BY "dsschool_price"."update_date" DESC, "dsschool_price"."id" DESC  LIMIT 1; args=()

In [12]:
print(first)

딥러닝 과정, 30

In [13]:
import mytool

In [14]:
import mytool2

In [15]:
data_tool

In [16]:
list_to_table